
#wb_header { height: 117px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 1393px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_footer { height: 130px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll center bottom; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent url("../gallery_gen/c9c4dd6ce6be5ad59813dd4594d489ad.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/76e3ac6d50f9be9536cdd80becaffbed.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 1200px; min-height: 1640px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1640px; min-height: 1640px; }
#wb_element_instance0 { top: 57px; left: 658px; min-width: 530px; width: 530px; min-height: 36px; height: 36px; display: block; z-index: 334; }
#wb_element_instance0 > ul { display: block; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: underline; color: #f7f7f7; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #0db6ff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #0db6ff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 15px; left: 10px; min-width: 330px; width: 330px; min-height: 70px; height: 70px; display: block; z-index: 132; }
#wb_element_instance2 { top: 85px; left: 300px; min-width: 430px; width: 430px; min-height: 24px; height: 24px; display: block; z-index: 135; }
#wb_element_instance3 { top: 65px; left: 170px; min-width: 2px; width: 2px; min-height: 20px; height: 20px; display: block; z-index: 136; }
#wb_element_instance3 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance3 > .wb_shp { background-color: rgba(13, 182, 255, 1); border: 5px none #C0C0C0; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; width: 2px; height: 20px; }
#wb_element_instance4 { top: 70px; left: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 132; }
#wb_element_instance5 { top: 40px; left: 30px; min-width: 112px; width: 112px; min-height: 28px; height: 28px; display: block; z-index: 133; }
#wb_element_instance5 img { width: 112px; height: 28px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance6 { top: 55px; left: 1090px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 134; }
#wb_element_instance6 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance7 { top: 56px; left: 1140px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 135; }
#wb_element_instance7 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance8 { top: 700px; left: 30px; min-width: 540px; width: 540px; min-height: 28px; height: 28px; display: block; z-index: 98; }
#wb_element_instance9 { top: 670px; left: 0px; min-width: 600px; width: 600px; min-height: 180px; height: 180px; display: block; z-index: 97; }
#wb_element_instance9 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.7; }
#wb_element_instance9 > .wb_shp { background-color: rgba(2, 130, 176, 0.7); border: 0px solid #000000; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 600px; height: 180px; }
#wb_element_instance10 { top: 20px; left: 0px; min-width: 1200px; width: 1200px; min-height: 70px; height: 70px; display: block; z-index: 106; }
#wb_element_instance11 { top: 110px; left: 0px; min-width: 1200px; width: 1200px; min-height: 70px; height: 70px; display: block; z-index: 107; }
#wb_element_instance12 { top: 964px; left: 0px; min-width: 1200px; width: 1200px; min-height: 66px; height: 66px; display: block; z-index: 116; }
#wb_element_instance13 { top: 1030px; left: 300px; min-width: 870px; width: 870px; min-height: 38px; height: 38px; display: block; z-index: 114; }
#wb_element_instance14 { top: 973px; left: 0px; min-width: 1200px; width: 1200px; min-height: 370px; height: 370px; display: block; z-index: 72; }
#wb_element_instance14 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance14 > .wb_shp { background-color: rgba(13, 182, 255, 1); border: 5px none #C0C0C0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 370px; }
#wb_element_instance15 { top: 750px; left: 30px; min-width: 540px; width: 540px; min-height: 88px; height: 88px; display: block; z-index: 110; }
#wb_element_instance16 { top: 240px; left: 0px; min-width: 600px; width: 600px; min-height: 180px; height: 180px; display: block; z-index: 80; }
#wb_element_instance16 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.7; }
#wb_element_instance16 > .wb_shp { background-color: rgba(255, 116, 69, 0.7); border: 0px solid #000000; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 600px; height: 180px; }
#wb_element_instance17 { top: 450px; left: 600px; min-width: 600px; width: 600px; min-height: 180px; height: 180px; display: block; z-index: 79; }
#wb_element_instance17 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.7; }
#wb_element_instance17 > .wb_shp { background-color: rgba(26, 207, 235, 0.7); border: 0px solid #000000; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 600px; height: 180px; }
#wb_element_instance18 { top: 260px; left: 30px; min-width: 540px; width: 540px; min-height: 38px; height: 38px; display: block; z-index: 117; }
#wb_element_instance19 { top: 480px; left: 630px; min-width: 540px; width: 540px; min-height: 28px; height: 28px; display: block; z-index: 118; }
#wb_element_instance20 { top: 530px; left: 630px; min-width: 540px; width: 540px; min-height: 44px; height: 44px; display: block; z-index: 115; }
#wb_element_instance21 { top: 320px; left: 30px; min-width: 540px; width: 540px; min-height: 44px; height: 44px; display: block; z-index: 120; }
#wb_element_instance22 { top: 1080px; left: 300px; min-width: 870px; width: 870px; min-height: 24px; height: 24px; display: block; z-index: 121; }
#wb_element_instance23 { top: 1030px; left: 40px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; z-index: 122; }
#wb_element_instance23 img { width: 230px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance24 { top: 259px; left: 665px; min-width: 210px; width: 210px; min-height: 142px; height: 142px; display: block; z-index: 123; }
#wb_element_instance24 img { width: 210px; height: 142px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance25 { top: 225px; left: 1020px; min-width: 140px; width: 140px; min-height: 209px; height: 209px; display: block; z-index: 128; overflow: hidden; }
#wb_element_instance25 img { width: 147.58333333333px; height: 209px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance26 { top: 302px; left: 910px; min-width: 79px; width: 79px; min-height: 80px; height: 80px; display: block; z-index: 129; }
#wb_element_instance26 img { width: 79px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance27 { top: 114px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance1 { opacity: 1; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance2 { opacity: 1; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance4 { opacity: 1; }
#wb_element_instance5 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance6 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance7 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance8 { opacity: 1; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance10 { opacity: 1; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance11 { opacity: 1; }
#wb_element_instance12 p:last-child { margin-bottom: 0; }
#wb_element_instance12 { opacity: 1; }
#wb_element_instance13 p:last-child { margin-bottom: 0; }
#wb_element_instance13 { opacity: 1; }
#wb_element_instance15 p:last-child { margin-bottom: 0; }
#wb_element_instance15 { opacity: 1; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }
#wb_element_instance18 { opacity: 1; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_element_instance19 { opacity: 1; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }
#wb_element_instance20 { opacity: 1; }
#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance21 { opacity: 1; }
#wb_element_instance22 p:last-child { margin-bottom: 0; }
#wb_element_instance22 { opacity: 1; }
#wb_element_instance23 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance24 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }
#wb_element_instance25 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }
#wb_element_instance26 { opacity: 1; border-radius: 9000px 9000px 9000px 9000px; -moz-border-radius: 9000px 9000px 9000px 9000px; -webkit-border-radius: 9000px 9000px 9000px 9000px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
