body {
  font-family: Lucida Console, Courier, monospace;
  background-color: silver;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.contWrongLogin {
    padding: 16px;
    background-color: orange;
}

.container {
  padding: 20%;
  background-color: white;
  margin-top:5%;
  background-size: 100%;
  background-image: linear-gradient(white,#b2b5b1);

}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px;
  background: #f1f1f1;
  font-size:20px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

p{
  color: red;
}

/* Кнопка для входа на сайт:; */
.loginButton {
  background-color: #40db7b; /* #5df542;  #4CAF50; */
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 25px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Стиль заголовков:*/
h1 {
  text-align: center;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}